.gl-skeleton-loader-default-container {
  width: 235px;
}

.gl-skeleton-loader {
  stop {
    @apply gl-opacity-10;
  }

  .background-stop {
    stop-color: var(--gl-skeleton-loader-background-color);
  }

  .shimmer-stop {
    stop-color: var(--gl-skeleton-loader-shimmer-color);
  }
}
