$gl-search-box-by-type-search-icon-size: 16px;
$gl-search-box-by-type-input-padding: 3.5 * $grid-size;

.gl-search-box-by-type-search-icon {
  @apply gl-w-5;
  position: absolute;
  left: $gl-spacing-scale-3;
  top: calc(50% - #{$gl-search-box-by-type-search-icon-size} / 2);
}

.gl-search-box-by-type {
  @apply gl-flex;
  position: relative;
}

.gl-search-box-by-type-loading-icon {
  @apply gl-fill-icon-subtle;
  @apply gl-w-5;
  @apply gl-mr-2;
}

.gl-search-box-by-type-clear {
  @apply gl-z-3;
}

.gl-search-box-by-type-input,
.gl-search-box-by-type-input.gl-form-input {
  @apply gl-h-7;
  @apply gl-pr-7;
  padding-left: $gl-search-box-by-type-input-padding;

  &::-webkit-search-cancel-button {
    @apply gl-hidden;
  }
}

.gl-search-box-by-type-input-borderless,
.gl-search-box-by-type-input-borderless.gl-form-input {
  @apply gl-border-none;
  @apply gl-text-base;
  @apply gl-h-auto;
  @apply gl-leading-normal;
  @apply gl-pl-7;
  @apply gl-py-4;
  @apply gl-shadow-none;
  @apply gl-w-full;
  border-radius: 0;
  padding-right: calc(#{$gl-spacing-scale-6} + #{$gl-spacing-scale-2});

  &:not(.form-control-plaintext):focus {
    @include gl-focus($inset: true);
  }

  &::placeholder {
    color: var(--gl-control-placeholder-color);
  }

  &::-webkit-search-cancel-button {
    @apply gl-hidden;
  }
}

.gl-search-box-by-type-right-icons {
  @apply gl-flex;
  @apply gl-items-center;
  @apply gl-leading-0;
  right: $gl-spacing-scale-2;
  position: absolute;
  @apply gl-h-full;
}
