.gl-card {
  @apply gl-bg-subtle;
  @apply gl-border-solid;
  @apply gl-rounded-base;
  @apply gl-flex;
  @apply gl-flex-col;
  @apply gl-break-words;
  @apply gl-relative;
  @apply gl-text-base;
}

.gl-card,
.gl-card-header,
.gl-card-footer {
  @apply gl-border-1;
  @apply gl-border-section;
}

.gl-card-header,
.gl-card-body,
.gl-card-footer {
  @apply gl-px-5;
  @apply gl-py-4;
}

.gl-card-header {
  @apply gl-border-b-solid;
  border-top-left-radius: calc($gl-border-radius-base - $gl-border-size-1);
  border-top-right-radius: calc($gl-border-radius-base - $gl-border-size-1);
  @apply gl-text-heading;
}

.gl-card-footer {
  @apply gl-border-t-solid;
  border-bottom-left-radius: calc($gl-border-radius-base - $gl-border-size-1);
  border-bottom-right-radius: calc($gl-border-radius-base - $gl-border-size-1);
}

.gl-card-header,
.gl-card-footer {
  @apply gl-bg-section;
}

.gl-card-body,
.gl-card-footer {
  @apply gl-text-default;
}
