.gl-filtered-search-scrollable-container {
  @apply gl-flex;
  @apply gl-grow;
  @apply gl-basis-0;
  @apply gl-overflow-hidden;
  @apply gl-items-center;
  @apply gl-py-2;
  @apply gl-pl-4;
  @apply gl-pr-7;
  @apply gl-border-none;
  @apply gl-rounded-base;
  box-shadow: inset 0 0 0 $gl-border-size-1 var(--gl-control-border-color-default);
  background-color: var(--gl-control-background-color-default);

  .input-group-prepend + & {
    @apply gl-rounded-l-none;
  }
}

.gl-filtered-search-scrollable-container-with-search-button {
  @apply gl-rounded-r-none;
}

.gl-filtered-search-scrollable {
  @apply gl-flex;
  @apply gl-overflow-y-auto;
  @apply gl-w-full;
}

.gl-filtered-search-item {
  @apply gl-flex;
  @apply gl-px-1;

  &:first-child {
    @apply gl-pl-0;
  }
}

.gl-filtered-search-last-item {
  .gl-filtered-search-term-value {
    @apply gl-h-full;
    @apply gl-w-full;
    @apply gl-items-center;
  }

  @apply gl-grow;
  @apply gl-p-0;
  @apply gl-pl-1;
  @apply gl-h-6;
  min-width: $gl-spacing-scale-12;
}
