.gl-avatar-labeled {
  @apply gl-inline-flex;

  &-labels {
    @apply gl-ml-3;
    @apply gl-flex;
    @apply gl-flex-col;
    @apply gl-justify-center;
    @apply gl-text-base;
    @apply gl-leading-normal;
    color: var(--gl-text-color-strong);
  }

  &-labels.inline-labels {
    @apply gl-flex-row;
    @apply gl-items-center;
    @apply gl-gap-2;
  }

  &-label {
    @apply gl-font-bold;
    @apply gl-p-1;
    color: var(--gl-text-color-strong);
  }

  &-sublabel {
    color: var(--gl-text-color-subtle);
    overflow-wrap: anywhere;
  }
}
