.gl-new-dropdown-item {
  @apply gl-cursor-pointer;
  @apply gl-px-2;
  @apply gl-my-1;

  /* when there is a scrim `li` items inside the list, the first and last real items
  do not match the selector `:first-child` and `:last-child`,
  that's why we have to target them with a different selector */
  &:first-child,
  .gl-new-dropdown-contents-with-scrim-overlay > &:nth-child(3):not(:last-child) {
    @apply gl-mt-0;
  }

  &:last-child,
  .gl-new-dropdown-contents-with-scrim-overlay > &:nth-last-child(3):not(:first-child) {
    @apply gl-mb-0;
  }

  &:hover {
    .gl-new-dropdown-item-content {
      color: var(--gl-dropdown-option-text-color-hover);
      background-color: var(--gl-dropdown-option-background-color-unselected-hover);
    }
  }

  &:focus {
    .gl-new-dropdown-item-content {
      color: var(--gl-dropdown-option-text-color-focus);
      background-color: var(--gl-dropdown-option-background-color-unselected-focus);
    }
  }

  &:active,
  &:focus:active {
    .gl-new-dropdown-item-content {
      color: var(--gl-dropdown-option-text-color-active);
      background-color: var(--gl-dropdown-option-background-color-unselected-active);
    }
  }

  &[aria-selected="true"] {
    .gl-new-dropdown-item-content {
      background-color: var(--gl-dropdown-option-background-color-selected-default);
    }

    &:hover {
      .gl-new-dropdown-item-content {
        background-color: var(--gl-dropdown-option-background-color-selected-hover);
      }

      .gl-new-dropdown-item-check-icon {
        color: var(--gl-dropdown-option-indicator-color-selected-hover);
      }
    }

    &:focus {
      .gl-new-dropdown-item-content {
        background-color: var(--gl-dropdown-option-background-color-selected-focus);
      }

      .gl-new-dropdown-item-check-icon {
        color: var(--gl-dropdown-option-indicator-color-selected-focus);
      }
    }

    &:active,
    &:focus:active {
      .gl-new-dropdown-item-content {
        background-color: var(--gl-dropdown-option-background-color-selected-active);
      }

      .gl-new-dropdown-item-check-icon {
        color: var(--gl-dropdown-option-indicator-color-selected-active);
      }
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:active,
  &:focus,
  &:focus:active {
    .gl-new-dropdown-item-content {
      @include gl-focus($inset: true);
    }
  }

  &:focus {
    .gl-new-dropdown-item-content {
      z-index: 1;
    }
  }

  .gl-new-dropdown-item-content {
    @apply gl-rounded-base;
    @apply gl-border-0;
    @apply gl-w-full;
    background-color: var(--gl-dropdown-option-background-color-unselected-default);
    @apply gl-items-center;
    @apply gl-flex;
    @apply gl-text-base;
    @apply gl-font-normal;
    @apply gl-leading-normal;
    @apply gl-px-3;
    @apply gl-py-0;
    position: relative;
    @apply gl-no-underline;
    color: var(--gl-dropdown-option-text-color-default);
    @apply gl-text-left;
    @apply gl-whitespace-normal;
    @include gl-prefers-reduced-motion-transition;
    transition: background-color $gl-transition-duration-fast $gl-easing-out-cubic,
                box-shadow $gl-transition-duration-medium $gl-easing-out-cubic;

    .gl-new-dropdown-item-check-icon {
      @apply gl-shrink-0;
      @apply gl-mr-3;
      color: var(--gl-dropdown-option-indicator-color-selected-default);
    }

    .gl-new-dropdown-item-icon {
      @apply gl-shrink-0;
      @apply gl-mr-3;
    }

    .gl-new-dropdown-item-text-wrapper {
      @apply gl-min-w-0;
      @apply gl-grow;
      @apply gl-py-3;
    }
  }
}
